.DS_Store
node_modules
/build
/.svelte-kit
/.vercel_build_output
/package
.idea/
*.log
cypress/screenshots
cypress/videos
storybook-static

/src/lib/assets/scss/node_modules
/src/lib/assets/scss/dist
