.be-button {
  font-size: .75rem;
  font-weight: 600;
  line-height: 1rem;
  white-space: nowrap;
  color: #ffffff;
  background: #1492FF;
  border: 0;
  padding: .5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: .3s;

  &--disabled{background: #f2f2f2;}
  &--large{padding: .8rem 3rem;font-size: 1.15rem;}
  &--medium{padding: .75rem 2.2rem;font-size: 1rem;}
  &--normal{padding: .5rem 2rem;}
  &--small{padding: .45rem 1.8rem;}
  &--mini{padding: .35rem 1.5rem;}

  &--round {
    &__circle {border-radius: 50%;padding: 1rem;}
    &__lg {border-radius: 2rem;}
    &__md {border-radius: .7rem;}
    &__mini {border-radius: .2rem;}
  }

  &--primary {
    background: #1492FF;
    &:hover {background: #0A508C;}
  }
  &--success {
    background: #2FA78E;
    &:hover {background: #075c4a;}
  }
  &--info {
    background: #686B73;
    &:hover {background: #363A44;}
  }
  &--warning {
    background: #EB6C3A;
    &:hover {background: #b33706;}
  }
  &--danger {
    background: #E63633;
    &:hover {background: #930907;}
  }
}
