.be-dialog {
  &--mask {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);z-index: 997;}
  &--container {position: fixed;left: 50%;top: 50%;width: 30%;min-width: 32em;overflow: auto;transform: translate(-50%,-50%);padding: 1em;border-radius: 0.2em;background: white;z-index: 998}
}
.bg-white {background: #ffffff;}
