.be-tabs {
  position: relative;
  &__header {padding: 0;position: relative;margin: 0 0 15px;}
  &__nav-wrap {overflow: hidden;margin-bottom: -1px;position: relative;}
  &__nav-scroll {overflow: hidden;}
  &__nav {white-space: nowrap;position: relative;transition: transform .3s;float: left;z-index: 2;}
  &__active-bar {
    position: absolute;bottom: 0;left: 0;height: 2px;background-color: #409eff;z-index: 1;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);list-style: none;
  }
  &__item {
    padding: 0 20px;height: 40px;box-sizing: border-box;line-height: 40px;display: inline-block;
    list-style: none;font-size: 14px;font-weight: 500;color: #303133;position: relative;
  }
  &__nav-wrap:after {
    content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background-color: #e4e7ed;z-index: 1;
  }
  &__content {overflow: hidden;position: relative;}
}
