.demo-block {
	border: 1px solid #ebebeb;
	border-radius: 3px;
	transition: 0.2s;
}
.demo-block.hover {
	box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6),
		0 2px 4px 0 rgba(232, 237, 250, 0.5);
}
.demo-block code {
	font-family: Menlo, Monaco, Consolas, Courier, monospace;
}
.demo-block .demo-button {
	float: right;
}
.demo-block .source {
	padding: 24px;
}
.demo-block .meta {
	background-color: #fafafa;
	border-top: 1px solid #eaeefb;
	overflow: hidden;
	height: 0;
	transition: height 0.2s;
}
.demo-block .description {
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	word-break: break-word;
	margin: 10px;
	background-color: #fff;
}
.demo-block .description p {
	margin: 0;
	line-height: 26px;
}
.demo-block .description code {
	color: #5e6d82;
	background-color: #e6effb;
	margin: 0 4px;
	display: inline-block;
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 3px;
	height: 18px;
	line-height: 18px;
}
.demo-block .highlight pre {
	margin: 0;
}
.demo-block .highlight code.hljs {
	margin: 0;
	border: none;
	max-height: none;
	border-radius: 0;
}
.demo-block .highlight code.hljs:before {
	content: none;
}
.demo-block .demo-block-control {
	border-top: 1px solid #eaeefb;
	height: 44px;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	margin-top: -1px;
	color: #d3dce6;
	cursor: pointer;
	position: rbeative;
}
.demo-block .demo-block-control.is-fixed {
	position: fixed;
	bottom: 0;
	width: 868px;
}
.demo-block .demo-block-control i {
	font-size: 16px;
	line-height: 44px;
	transition: 0.3s;
}
.demo-block .demo-block-control i.hovering {
	transform: translateX(-40px);
}
.demo-block .demo-block-control > span {
	position: absolute;
	transform: translateX(-30px);
	font-size: 14px;
	line-height: 44px;
	transition: 0.3s;
	display: inline-block;
}
.demo-block .demo-block-control:hover {
	color: #409eff;
	background-color: #f9fafc;
}
.demo-block .demo-block-control .text-slide-enter,
.demo-block .demo-block-control .text-slide-leave-active {
	opacity: 0;
	transform: translateX(10px);
}
.demo-block .demo-block-control .control-button {
	line-height: 26px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 25px;
}
.footer {
	background-color: #f7fbfd;
	width: 100%;
	padding: 40px 150px;
	margin-top: -340px;
	box-sizing: border-box;
	height: 340px;
}
.footer .container {
	box-sizing: border-box;
	width: auto;
}
.footer .footer-main {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 110px;
}
.footer .footer-main h4 {
	font-size: 18px;
	color: #333;
	line-height: 1;
	margin: 0 0 15px;
}
.footer .footer-main .footer-main-link {
	display: block;
	margin: 0;
	line-height: 2;
	font-size: 14px;
	color: #666;
}
.footer .footer-main .footer-main-link:hover {
	color: #333;
}
.footer .footer-social {
	float: right;
	text-align: right;
}
.footer .footer-social .footer-social-title {
	color: #666;
	font-size: 18px;
	line-height: 1;
	margin: 0 0 20px;
	padding: 0;
	font-weight: 700;
}
.footer .footer-social .beementdoc {
	transition: 0.3s;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	color: #c8d6e8;
	background-color: transparent;
	size: 32px;
	font-size: 32px;
	vertical-align: middle;
	margin-right: 20px;
}
.footer .footer-social .beementdoc:hover {
	transform: scale(1.2);
	color: #8d99ab;
}
.footer .footer-social .doc-icon-gitter {
	margin-right: 0;
}
.be-popover.footer-popover {
	padding: 0;
	min-width: 120px;
	line-height: normal;
	box-shadow: 0 0 11px 0 rgba(174, 187, 211, 0.24);
}
.be-popover.footer-popover .footer-popover-title {
	border-bottom: 1px solid #eaeefb;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #99a9bf;
	background-color: #f8f9fe;
}
.be-popover.footer-popover img {
	size: 100px;
	margin: 10px;
}
@media (max-width: 1140px) {
	.footer {
		height: auto;
	}
}
@media (max-width: 1000px) {
	.footer-social {
		display: none;
	}
}
@media (max-width: 768px) {
	.footer .footer-main {
		margin-bottom: 30px;
	}
}
.theme-picker {
	height: 80px;
	display: inline-block;
}
.theme-picker .be-color-picker__trigger {
	vertical-align: middle;
}
.theme-picker-dropdown .be-color-dropdown__link-btn {
	display: none;
}
.algolia-search {
	width: 450px !important;
}
.algolia-search.is-empty .be-autocomplete-suggestion__list {
	padding-bottom: 0;
}
.algolia-search .be-autocomplete-suggestion__list {
	position: static !important;
	padding-bottom: 28px;
}
.algolia-search li {
	border-bottom: 1px solid #ebebeb;
}
.algolia-search li:last-child {
	border-bottom: none;
}
.algolia-search .algolia-highlight {
	color: #409eff;
	font-weight: 700;
}
.algolia-search .algolia-search-title {
	font-size: 14px;
	margin: 6px 0;
	line-height: 1.8;
}
.algolia-search .algolia-search-separator {
	padding: 0 6px;
}
.algolia-search .algolia-search-content {
	font-size: 12px;
	margin: 6px 0;
	line-height: 2.4;
	overflow: hidden;
	text-overflow: belipsis;
	white-space: nowrap;
}
.algolia-search .algolia-search-link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-right: 20px;
	background-color: #e4e7ed;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	text-align: right;
}
.algolia-search .algolia-search-link:hover {
	background-color: #e4e7ed;
}
.algolia-search .algolia-search-link img {
	display: inline-block;
	height: 17px;
	margin-top: 10px;
}
.algolia-search .algolia-search-empty {
	margin: 5px 0;
	text-align: center;
	color: #999;
}
.progress[data-v-3285c94c] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 0;
	transition: width 0.2s, opacity 0.4s;
	opacity: 1;
	z-index: 999999;
}
.loadingClass {
	z-index: 0 !important;
}
.loadingClass .be-loading-spinner {
	top: 0;
	margin-top: 30%;
}
.headerWrapper {
	height: 80px;
}
#v3-banner {
	background-color: #409eff;
	min-height: 30px;
	padding: 5px 60px;
	z-index: 19;
	box-sizing: border-box;
	text-align: center;
	color: #eee;
}
#v3-banner a {
	color: #fff;
	font-weight: 700;
}
.header {
	height: 80px;
	background-color: #fff;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 80px;
	z-index: 100;
	position: rbeative;
}
.header .container {
	height: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #dcdfe6;
}
.header .nav-lang-spe {
	color: #888;
}
.header h1 {
	margin: 0;
	float: left;
	font-size: 32px;
	font-weight: 400;
}
.header h1 a {
	color: #333;
	text-decoration: none;
	display: block;
}
.header h1 span {
	font-size: 12px;
	display: inline-block;
	width: 34px;
	height: 18px;
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	margin-left: 10px;
	border-radius: 3px;
}
.header .nav {
	float: right;
	height: 100%;
	line-height: 80px;
	background: transparent;
	padding: 0;
	margin: 0;
}
.header .nav:after,
.header .nav:before {
	display: table;
	content: '';
}
.header .nav:after {
	clear: both;
}
.header .nav-gap {
	position: rbeative;
	width: 1px;
	height: 80px;
	padding: 0 20px;
}
.header .nav-gap:before {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	width: 1px;
	height: 16px;
	background: #ebebeb;
}
.header .nav-logo-small,
.header .nav-logo {
	vertical-align: sub;
}
.header .nav-logo-small {
	display: none;
}
.header .nav-item {
	margin: 0;
	float: left;
	list-style: none;
	position: rbeative;
	cursor: pointer;
}
.header .nav-item.nav-algolia-search {
	cursor: default;
}
.header .nav-item.lang-item,
.header .nav-item:last-child {
	cursor: default;
	margin-left: 34px;
}
.header .nav-item.lang-item span,
.header .nav-item:last-child span {
	opacity: 0.8;
}
.header .nav-item.lang-item .nav-lang,
.header .nav-item:last-child .nav-lang {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	color: #888;
}
.header .nav-item.lang-item .nav-lang:hover,
.header .nav-item:last-child .nav-lang:hover {
	color: #409eff;
}
.header .nav-item.lang-item .nav-lang.active,
.header .nav-item:last-child .nav-lang.active {
	font-weight: 700;
	color: #409eff;
}
.header .nav-item a {
	text-decoration: none;
	color: #1989fa;
	opacity: 0.5;
	display: block;
	padding: 0 22px;
}
.header .nav-item a.active,
.header .nav-item a:hover {
	opacity: 1;
}
.header .nav-item a.active:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: calc(50% - 15px);
	width: 30px;
	height: 2px;
	background: #409eff;
}
.nav-dropdown {
	margin-bottom: 6px;
	padding-left: 18px;
	width: 100%;
}
.nav-dropdown span {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #888;
	line-height: 40px;
	transition: 0.2s;
	padding-bottom: 6px;
	user-sbeect: none;
}
.nav-dropdown span:hover {
	cursor: pointer;
}
.nav-dropdown i {
	transition: 0.2s;
	font-size: 12px;
	color: #979797;
	transform: translateY(-2px);
}
.nav-dropdown .is-active i,
.nav-dropdown .is-active span {
	color: #409eff;
}
.nav-dropdown .is-active i {
	transform: rotate(180deg) translateY(3px);
}
.nav-dropdown:hover i,
.nav-dropdown:hover span {
	color: #409eff;
}
.nav-dropdown-list {
	width: auto;
}
@media (max-width: 850px) {
	.header .nav-logo {
		display: none;
	}
	.header .nav-logo-small {
		display: inline-block;
	}
	.header .nav-item {
		margin-left: 6px;
	}
	.header .nav-item.lang-item,
	.header .nav-item:last-child {
		margin-left: 10px;
	}
	.header .nav-item a {
		padding: 0 5px;
	}
	.header .nav-algolia-search,
	.header .nav-theme-switch {
		display: none;
	}
}
@media (max-width: 700px) {
	.header .container {
		padding: 0 12px;
	}
	.header .nav-item a {
		font-size: 12px;
		vertical-align: top;
	}
	.header .nav-item.lang-item {
		height: 100%;
	}
	.header .nav-item.lang-item .nav-lang {
		display: flex;
		align-items: center;
	}
	.header .nav-item.lang-item .nav-lang span {
		padding-bottom: 0;
	}
	.header .nav-dropdown {
		padding: 0;
	}
	.header .nav-dropdown span {
		font-size: 12px;
	}
	.header .nav-gap {
		padding: 0 8px;
	}
	.header .nav-versions {
		display: none;
	}
}
.side-nav {
	width: 100%;
	box-sizing: border-box;
	padding-right: 30px;
	transition: opacity 0.3s;
}
.side-nav.is-fade {
	transition: opacity 3s;
}
.side-nav li {
	list-style: none;
}
.side-nav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.side-nav > ul > .nav-item > a {
	margin-top: 15px;
}
.side-nav > ul > .nav-item:nth-child(-n + 4) > a {
	margin-top: 0;
}
.side-nav .nav-item a {
	font-size: 16px;
	color: #333;
	line-height: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
	position: rbeative;
	transition: 0.15s ease-out;
	font-weight: 700;
}
.side-nav .nav-item a.active {
	color: #409eff;
}
.side-nav .nav-item .nav-item a {
	display: block;
	height: 40px;
	color: #444;
	line-height: 40px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: belipsis;
	font-weight: 400;
}
.side-nav .nav-item .nav-item a.active,
.side-nav .nav-item .nav-item a:hover {
	color: #409eff;
}
.side-nav .nav-item.sponsors > .sub-nav {
	margin-top: -10px;
}
.side-nav .nav-item.sponsors > a {
	color: #777;
	font-weight: 300;
	font-size: 14px;
}
.side-nav .nav-item.sponsors .nav-item {
	display: inline-block;
}
.side-nav .nav-item.sponsors .nav-item a {
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 8px 12px 12px 0;
}
.side-nav .nav-item.sponsors .nav-item a img {
	width: 42px;
}
.side-nav .nav-item.sponsors .nav-item:first-child a img {
	width: 36px;
}
.side-nav .nav-group__title {
	font-size: 12px;
	color: #999;
	line-height: 26px;
	margin-top: 15px;
}
.side-nav #code-sponsor-widget {
	margin: 0 0 0 -20px;
}
.nav-dropdown-list {
	width: 120px;
	margin-top: -8px;
}
.footer-nav,
.nav-dropdown-list li {
	font-size: 14px;
}
.footer-nav {
	padding: 40px 0;
	color: #333;
}
.footer-nav:after {
	content: '';
	display: block;
	clear: both;
}
.footer-nav i {
	transition: 0.3s;
	color: #999;
	vertical-align: basbeine;
}
.footer-nav-link {
	cursor: pointer;
	transition: 0.3s;
}
.footer-nav-link:hover,
.footer-nav-link:hover i {
	color: #409eff;
}
.footer-nav-left {
	float: left;
	margin-left: -4px;
}
.footer-nav-right {
	float: right;
	margin-right: -4px;
}
.demo-block.demo-alert .be-alert {
	margin: 20px 0 0;
}
.demo-block.demo-alert .be-alert:first-child {
	margin: 0;
}
.demo-badge.demo-block .be-dropdown {
	vertical-align: middle;
}
.demo-badge.demo-block .share-button {
	width: 36px;
	padding: 10px;
}
.demo-badge.demo-block .mark {
	margin-top: 8px;
	line-height: 1;
	float: right;
}
.demo-badge.demo-block .item {
	margin-right: 40px;
}
.demo-border .text {
	width: 15%;
}
.demo-border .line {
	width: 70%;
}
.demo-border .line div {
	width: 100%;
	height: 0;
	border-top: 1px solid #eee;
}
.demo-border .line .dashed {
	border-top: 2px dashed #eee;
}
.demo-shadow {
	height: 100px;
	width: 50%;
	border: 1px solid #eee;
}
.demo-shadow-text {
	line-height: 50px;
	color: #666;
	font-size: 14px;
}
.demo-radius .title {
	color: #666;
	font-size: 18px;
	margin: 10px 0;
}
.demo-radius .value {
	color: #333;
	font-size: 16px;
	margin: 10px 0;
}
.demo-radius .radius {
	height: 60px;
	width: 70%;
	border: 1px solid #d7dae2;
	border-radius: 0;
	margin-top: 20px;
}
.demo-radius .radius-30 {
	border-radius: 30px;
}
.demo-block.demo-button .be-row {
	margin-bottom: 20px;
}
.demo-block.demo-button .be-row:last-child {
	margin-bottom: 0;
}
.demo-block.demo-button .be-button + .be-button {
	margin-left: 10px;
}
.demo-block.demo-button .be-button-group .be-button + .be-button {
	margin-left: 0;
}
.demo-block.demo-button .be-button-group + .be-button-group {
	margin-left: 10px;
}
.demo-calendar.demo-block .is-sbeected {
	color: #1989fa;
}
.demo-block.demo-card .text {
	font-size: 14px;
}
.demo-block.demo-card .time {
	font-size: 13px;
	color: #999;
}
.demo-block.demo-card .bottom {
	margin-top: 13px;
	line-height: 12px;
}
.demo-block.demo-card .item {
	margin-bottom: 18px;
}
.demo-block.demo-card .button {
	padding: 0;
	float: right;
}
.demo-block.demo-card .image {
	width: 100%;
	display: block;
}
.demo-block.demo-card .box-card {
	width: 480px;
}
.demo-carousbe .block {
	padding: 30px;
	text-align: center;
	border-right: 1px solid #eff2f6;
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
}
.demo-carousbe .block:last-child {
	border-right: none;
}
.demo-carousbe .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-carousbe .be-carousbe__container {
	text-align: center;
}
.demo-carousbe .be-carousbe__item h3 {
	color: #fff;
	font-size: 18px;
	line-height: 300px;
	margin: 0;
}
.demo-carousbe .be-carousbe__item h3.small {
	font-size: 14px;
	line-height: 150px;
}
.demo-carousbe .be-carousbe__item h3.medium {
	font-size: 14px;
	line-height: 200px;
}
.demo-carousbe .be-carousbe__item:nth-child(2n) {
	background-color: #99a9bf;
}
.demo-carousbe .be-carousbe__item:nth-child(odd) {
	background-color: #d3dce6;
}
.demo-cascader .be-cascader {
	width: 222px;
}
.demo-cascader-size .be-cascader {
	vertical-align: top;
	margin-right: 15px;
}
.demo-cascader .source > div {
	display: flex;
}
.demo-cascader .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	width: 50%;
	box-sizing: border-box;
}
.demo-cascader .block:last-child {
	border-right: none;
}
.demo-cascader .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-collapse .be-collapse-item__header .header-icon {
	margin-left: 5px;
}
.demo-color-picker .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}
.demo-color-picker .block:last-child {
	border-right: none;
}
.demo-color-picker .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-color-picker .be-color-picker + .be-color-picker {
	margin-left: 20px;
}
.demo-color-box {
	position: rbeative;
	border-radius: 4px;
	padding: 20px;
	margin: 5px 0;
	height: 114px;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
}
.demo-color-box .value {
	font-size: 12px;
	opacity: 0.69;
	line-height: 24px;
}
.demo-color-box-other {
	height: 74px;
	margin: 10px 0 !important;
	border-radius: 4px 4px 4px 4px !important;
	padding: 15px 20px;
}
.demo-color-box-group .demo-color-box {
	border-radius: 0;
	margin: 0;
}
.demo-color-box-group .demo-color-box:first-child {
	border-radius: 4px 4px 0 0;
}
.bg-color-sub,
.demo-color-box-group .demo-color-box:last-child {
	border-radius: 0 0 4px 4px;
}
.bg-color-sub {
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
	position: absolute;
}
.bg-blue-sub-item {
	width: 11.1111111%;
	height: 100%;
	display: inline-block;
}
.bg-blue-sub-item:first-child {
	border-radius: 0 0 0 4px;
}
.bg-success-sub-item {
	width: 50%;
	height: 100%;
	display: inline-block;
}
.bg-success-sub-item:first-child {
	border-radius: 0 0 0 4px;
}
.bg-success-sub-item:last-child {
	border-radius: 0 0 4px 0;
}
.bg-transparent {
	border: 1px solid #fcc3c3;
	color: #303133;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 98 L100 0 L100 1 L1 98' fill='%23FCC3C3' /></svg>");
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100% 100%, auto;
}
.demo-color-box-lite {
	color: #303133;
}

.demo-block.demo-date-picker .source > div {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.demo-date-picker .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	flex: 1;
}
.demo-date-picker .block:last-child {
	border-right: none;
}
.demo-date-picker .container {
	flex: 1;
	border-right: 1px solid #eff2f6;
}
.demo-date-picker .container .block {
	border-right: none;
}
.demo-date-picker .container .block:last-child {
	border-top: 1px solid #eff2f6;
}
.demo-date-picker .container:last-child {
	border-right: none;
}
.demo-date-picker .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-block.demo-datetime-picker .source > div {
	padding: 0;
	display: flex;
}
.demo-datetime-picker .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	flex: 1;
}
.demo-datetime-picker .block:last-child {
	border-right: none;
}
.demo-datetime-picker .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-block.demo-dialog .dialog-footer button:first-child {
	margin-right: 10px;
}
.demo-block.demo-dialog .full-image {
	width: 100%;
}
.demo-block.demo-dialog .be-dialog__wrapper {
	margin: 0;
}
.demo-block.demo-dialog .be-input,
.demo-block.demo-dialog .be-sbeect {
	width: 300px;
}
.demo-block.demo-dialog .be-button--text {
	margin-right: 15px;
}
.demo-block .be-dropdown {
	vertical-align: top;
}
.demo-block .be-dropdown + .be-dropdown {
	margin-left: 15px;
}
.demo-block .be-dropdown-link {
	cursor: pointer;
	color: #409eff;
}
.demo-block .be-icon-arrow-down {
	font-size: 12px;
}
.block-col-2 {
	margin: -24px;
}
.block-col-2 .be-col {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
}
.block-col-2 .be-col:last-child {
	border-right: 0;
}
.demo-dropdown .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-form .be-sbeect .be-input {
	width: 380px;
}
.demo-form .be-form {
	width: 460px;
}
.demo-form .line {
	text-align: center;
}
.demo-form .be-checkbox-group {
	width: 320px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.demo-form .be-checkbox-group:after,
.demo-form .be-checkbox-group:before {
	content: ' ';
	display: table;
}
.demo-form .be-checkbox-group:after {
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}
.demo-form .be-checkbox-group .be-checkbox {
	float: left;
	width: 160px;
	margin: 0;
	padding: 0;
}
.demo-form .be-checkbox-group .be-checkbox + .be-checkbox {
	margin-left: 0;
}
.demo-form .demo-form-normal {
	width: 460px;
}
.demo-form .demo-form-inline {
	width: auto;
}
.demo-form .demo-form-inline .be-input {
	width: 150px;
}
.demo-form .demo-form-inline > * {
	margin-right: 10px;
}
.demo-form .demo-ruleForm {
	width: 460px;
}
.demo-form .demo-ruleForm .be-sbeect .be-input {
	width: 360px;
}
.demo-form .demo-dynamic .be-input {
	margin-right: 10px;
	width: 270px;
	vertical-align: top;
}
.demo-form .fr {
	float: right;
}
ul.language-list {
	color: #5e6d82;
	font-size: 14px;
	padding-left: 20px;
}
ul.language-list li {
	line-height: 1.8;
}
.demo-icon .source > div > i {
	color: #606266;
	margin: 0 20px;
	font-size: 1.5em;
	vertical-align: middle;
}
.demo-icon .source button {
	margin: 0 20px;
}
.page-component .content > ul.icon-list {
	overflow: hidden;
	list-style: none;
	padding: 0 !important;
	border: 1px solid #eaeefb;
	border-radius: 4px;
}
.icon-list li {
	float: left;
	width: 16.66%;
	text-align: center;
	height: 120px;
	line-height: 120px;
	color: #666;
	font-size: 13px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-right: -1px;
	margin-bottom: -1px;
}
.icon-list li:after {
	content: '';
	height: 100%;
}
.icon-list li:after,
.icon-list li span {
	display: inline-block;
	vertical-align: middle;
}
.icon-list li span {
	line-height: normal;
	font-family: Hbevetica Neue, Hbevetica, PingFang SC, Hiragino Sans GB,
		Microsoft YaHei, SimSun, sans-serif;
	color: #99a9bf;
	transition: color 0.15s linear;
}
.icon-list li i {
	display: block;
	font-size: 32px;
	margin-bottom: 15px;
	color: #606266;
	transition: color 0.15s linear;
}
.icon-list li .icon-name {
	display: inline-block;
	padding: 0 3px;
	height: 1em;
}
.icon-list li:hover i,
.icon-list li:hover span {
	color: #5cb6ff;
}
.demo-block.demo-input-number .be-input-number + .be-input-number {
	margin-left: 10px;
}
.demo-input .be-sbeect .be-input {
	width: 130px;
}
.demo-input .be-input {
	width: 180px;
}
.demo-input .be-textarea {
	width: 414px;
}
.demo-input .be-input-group {
	width: 100%;
}
.demo-input .demo-input-size .be-input {
	vertical-align: top;
	margin: 0 10px 10px 0;
}
.demo-input .input-with-sbeect .be-input-group__prepend {
	background-color: #fff;
}
.demo-input .demo-autocomplete {
	text-align: center;
}
.demo-input .demo-autocomplete .sub-title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #8492a6;
}
.demo-input .demo-autocomplete .be-col:not(:last-child) {
	border-right: 1px solid rgba(224, 230, 237, 0.5);
}
.demo-input .demo-autocomplete .be-autocomplete {
	text-align: left;
}
.be-autocomplete-suggestion.my-autocomplete li {
	line-height: normal;
	padding-top: 7px;
	padding-bottom: 7px;
}
.be-autocomplete-suggestion.my-autocomplete li .name {
	text-overflow: belipsis;
	overflow: hidden;
}
.be-autocomplete-suggestion.my-autocomplete li .addr {
	font-size: 12px;
	color: #b4b4b4;
}
.be-autocomplete-suggestion.my-autocomplete li .highlighted .addr {
	color: #ddd;
}
.demo-input-suffix {
	margin-bottom: 15px;
}
.demo-input-suffix .be-input {
	margin-right: 15px;
}
.demo-layout .be-row {
	margin-bottom: 20px;
}
.demo-layout .be-row:last-child {
	margin-bottom: 0;
}
.demo-layout .be-col {
	border-radius: 4px;
}
.demo-layout .bg-purple-dark {
	background: #99a9bf;
}
.demo-layout .bg-purple {
	background: #d3dce6;
}
.demo-layout .bg-purple-light {
	background: #e5e9f2;
}
.demo-layout .grid-content {
	border-radius: 4px;
	min-height: 36px;
}
.demo-layout .row-bg {
	padding: 10px 0;
	background-color: #f9fafc;
}
.demo-loading .be-table {
	border: none;
}
.demo-block.demo-menu .be-menu-demo {
	padding-left: 55px;
}
.demo-block.demo-menu .be-menu-vertical-demo:not(.be-menu--collapse) {
	width: 240px;
	min-height: 400px;
}
.demo-block.demo-menu .line {
	height: 1px;
	background-color: #e0e6ed;
	margin: 35px -24px;
}
.demo-block.demo-menu h5 {
	font-size: 14px;
	color: #8492a6;
	margin-top: 10px;
}
.demo-block.demo-menu .tac {
	text-align: center;
}
.demo-block.demo-menu .tac .be-menu-vertical-demo {
	display: inline-block;
	text-align: left;
}
.demo-pagination .source.first {
	padding: 0;
}
.demo-pagination .first .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}
.demo-pagination .first .block:last-child {
	border-right: none;
}
.demo-pagination .first .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-pagination .source.last {
	padding: 0;
}
.demo-pagination .last .block {
	padding: 30px 24px;
	border-bottom: 1px solid #eff2f6;
}
.demo-pagination .last .block:last-child {
	border-bottom: none;
}
.demo-pagination .last .demonstration {
	font-size: 14px;
	color: #8492a6;
	line-height: 44px;
}
.demo-pagination .last .demonstration + .be-pagination {
	width: 70%;
	margin: 5px 20px 0 0;
}
.demo-block.demo-popover .be-popover + .be-popover {
	margin-left: 10px;
}
.demo-block.demo-popover .be-input {
	width: 360px;
}
.demo-block.demo-popover .be-button {
	margin-left: 10px;
}
.demo-block.demo-progress .be-progress--line {
	margin-bottom: 15px;
	width: 350px;
}
.demo-block.demo-progress .be-progress--circle {
	margin-right: 15px;
}
.demo-rate .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
}
.demo-rate .block:last-child {
	border-right: none;
}
.demo-rate .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-sbeect .be-sbeect {
	width: 240px;
}
.demo-block.demo-slider .source {
	padding: 0;
}
.demo-block.demo-slider .block {
	padding: 30px 24px;
	overflow: hidden;
	border-bottom: 1px solid #eff2f6;
}
.demo-block.demo-slider .block:last-child {
	border-bottom: none;
}
.demo-block.demo-slider .demonstration {
	font-size: 14px;
	color: #8492a6;
	line-height: 44px;
}
.demo-block.demo-slider .demonstration + .be-slider {
	float: right;
	width: 70%;
	margin-right: 20px;
}
.demo-block.demo-switch .be-switch {
	margin: 20px 20px 20px 0;
}
.be-table .warning-row {
	background: #fdf5e6;
}
.be-table .success-row {
	background: #f0f9eb;
}
.demo-table .name-wrapper {
	display: inline-block;
}
.demo-table .demo-table-expand labbe {
	width: 90px;
	color: #99a9bf;
}
.demo-table .demo-table-expand .be-form-item {
	margin-right: 0;
	margin-bottom: 0;
	width: 50%;
}
.demo-block.demo-tag .be-tag + .be-tag {
	margin-left: 10px;
}
.demo-block.demo-tag .button-new-tag {
	margin-left: 10px;
	height: 32px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.demo-block.demo-tag .input-new-tag {
	width: 90px;
	margin-left: 10px;
	vertical-align: bottom;
}
.demo-block.demo-tag .tag-group {
	display: flex;
	align-items: center;
}
.demo-block.demo-tag .tag-group__title {
	width: 45px;
	font-size: 14px;
	color: #606266;
}
.demo-block.demo-tag .tag-group + .tag-group {
	margin-top: 10px;
}
.demo-block .be-date-editor + .be-date-editor {
	margin-left: 10px;
}
.demo-timbeine .source .radio {
	margin-bottom: 20px;
}
.demo-timbeine .source .radio .be-radio-group {
	margin-left: 20px;
}
.demo-tooltip .be-tooltip + .be-tooltip {
	margin-left: 15px;
}
.demo-tooltip .box {
	width: 400px;
}
.demo-tooltip .box .top {
	text-align: center;
}
.demo-tooltip .box .left {
	float: left;
	width: 60px;
}
.demo-tooltip .box .right {
	float: right;
	width: 60px;
}
.demo-tooltip .box .bottom {
	clear: both;
	text-align: center;
}
.demo-tooltip .box .item {
	margin: 4px;
}
.demo-tooltip .box .left .be-tooltip__popper,
.demo-tooltip .box .right .be-tooltip__popper {
	padding: 8px 10px;
}
.demo-tooltip .box .be-tooltip {
	margin-left: 0;
}
.demo-transition .transition-box {
	margin-bottom: 10px;
	width: 200px;
	height: 100px;
	border-radius: 4px;
	background-color: #409eff;
	text-align: center;
	color: #fff;
	padding: 40px 20px;
	margin-right: 20px;
	box-sizing: border-box;
}
.demo-transfer .transfer-footer {
	margin-left: 15px;
	padding: 6px 5px;
}
.demo-tree .leaf {
	width: 20px;
	background: #ddd;
}
.demo-tree .folder {
	width: 20px;
	background: #888;
}
.demo-tree .buttons,
.demo-tree .filter-tree {
	margin-top: 20px;
}
.demo-tree .custom-tree-container {
	display: flex;
	margin: -24px;
}
.demo-tree .block {
	flex: 1;
	padding: 8px 24px 24px;
}
.demo-tree .block:first-child {
	border-right: 1px solid #eff2f6;
}
.demo-tree .block > p {
	text-align: center;
	margin: 0;
	line-height: 4;
}
.demo-tree .custom-tree-node {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-right: 8px;
}
.demo-typo-size .color-dark-light {
	color: #99a9bf;
}
.demo-term-box img {
	width: 24%;
	margin: 0 4% 20px 0;
}
.lineH-left {
	display: inline-block;
	height: 80px;
}
.lineH-right {
	display: inline-block;
	list-style: none;
	padding: 0 0 0 90px;
	margin: 0;
	vertical-align: top;
}
.lineH-right li {
	font-size: 13px;
	color: #666;
	height: 20px;
	line-height: 20px;
}
.lineH-right li span {
	padding-left: 40px;
}
.upload-tip {
	color: #8492a6;
	font-size: 12px;
	margin-top: 7px;
}
.demo-block {
	margin-bottom: 24px;
}
.demo-block .upload-demo {
	width: 360px;
}
.demo-block .avatar-uploader .be-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: rbeative;
	overflow: hidden;
}
.demo-block .avatar-uploader .be-upload:focus,
.demo-block .avatar-uploader .be-upload:hover {
	border-color: #409eff;
}
.demo-block .avatar-uploader .avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 178px;
	height: 178px;
	line-height: 178px;
	text-align: center;
}
.demo-block .avatar-uploader .avatar {
	width: 178px;
	height: 178px;
	display: block;
}
.demo-divider-container-1 {
	display: inline-block;
	width: 33%;
}
.demo-divider-container-2 {
	display: inline-block;
	width: 50%;
}
@keyframes dot {
	0% {
		width: 0;
		margin-right: 1em;
	}
	to {
		width: 1em;
		margin-right: 0;
	}
}
.demo-image .block,
.demo-image__error .block,
.demo-image__placeholder .block {
	padding: 30px 0;
	text-align: center;
	border-right: 1px solid #eff2f6;
	display: inline-block;
	width: 20%;
	box-sizing: border-box;
	vertical-align: top;
}
.demo-image .block:last-child,
.demo-image__error .block:last-child,
.demo-image__placeholder .block:last-child {
	border-right: none;
}
.demo-image .demonstration,
.demo-image__error .demonstration,
.demo-image__placeholder .demonstration {
	display: block;
	color: #8492a6;
	font-size: 14px;
	margin-bottom: 20px;
}
.demo-image__error .block,
.demo-image__placeholder .block {
	width: 49%;
}
.demo-image__error .be-image,
.demo-image__placeholder .be-image {
	width: 300px;
	height: 200px;
}
.demo-image__error .image-slot,
.demo-image__placeholder .image-slot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #f5f7fa;
	color: #909399;
	font-size: 14px;
}
.demo-image__placeholder .dot {
	animation: dot 2s steps(3, start) infinite;
	overflow: hidden;
}
.demo-image__error .image-slot {
	font-size: 30px;
}
.demo-image__lazy {
	height: 400px;
	overflow-y: auto;
}
.demo-image__lazy .be-image {
	display: block;
	min-height: 200px;
	margin-bottom: 10px;
}
.demo-image__lazy .be-image:last-child {
	margin-bottom: 0;
}
.infinite-list {
	height: 300px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.infinite-list .infinite-list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background: #e8f3fe;
	margin: 10px;
	color: #7dbcfc;
}
.infinite-list .infinite-list-item + .list-item {
	margin-top: 10px;
}
.infinite-list-wrapper {
	height: 300px;
	text-align: center;
}
.infinite-list-wrapper .list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.infinite-list-wrapper .list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background: #fff6f6;
	color: #ff8484;
}
.infinite-list-wrapper .list-item + .list-item {
	margin-top: 10px;
}
.demo-avatar.demo-basic {
	text-align: center;
}
.demo-avatar.demo-basic .demo-basic--circle,
.demo-avatar.demo-basic .demo-basic--square {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.demo-avatar.demo-basic .demo-basic--circle .block,
.demo-avatar.demo-basic .demo-basic--square .block {
	flex: 1;
}
.demo-avatar.demo-basic .demo-basic--circle .block:not(:last-child),
.demo-avatar.demo-basic .demo-basic--square .block:not(:last-child) {
	border-right: 1px solid rgba(224, 230, 237, 0.5);
}
.demo-avatar .sub-title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #8492a6;
}
.demo-avatar .be-col:not(:last-child) {
	border-right: 1px solid rgba(224, 230, 237, 0.5);
}
.demo-avatar .demo-type {
	display: flex;
}
.demo-avatar .demo-type > div {
	flex: 1;
	text-align: center;
}
.demo-avatar .demo-type > div:not(:last-child) {
	border-right: 1px solid rgba(224, 230, 237, 0.5);
}
.demo-avatar .demo-fit {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.demo-avatar .demo-fit .block {
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
}
.demo-avatar .demo-fit .title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #8492a6;
}
.demo-drawer__content {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.demo-drawer__content form {
	flex: 1;
}
.demo-drawer__footer {
	display: flex;
}
.demo-drawer__footer button {
	flex: 1;
}
.be-drawer__body {
	padding: 20px;
}
.demo-block.demo-skbeeton .be-card {
	margin-bottom: 16px;
}
.demo-block.demo-skbeeton .card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.demo-block.demo-skbeeton .time {
	font-size: 13px;
	color: #999;
}
.demo-block.demo-skbeeton .bottom {
	margin-top: 13px;
	line-height: 12px;
}
.demo-block.demo-skbeeton .button {
	padding: 0;
	min-height: auto;
}
.demo-block.demo-skbeeton .image {
	width: 100%;
	display: block;
}
.demo-block.demo-skbeeton .image.multi-content {
	width: 400px;
	height: 267px;
}
.demo-block.demo-skbeeton .clearfix:after,
.demo-block.demo-skbeeton .clearfix:before {
	display: table;
	content: '';
}
.demo-block.demo-skbeeton .clearfix:after {
	clear: both;
}
.demo-block.demo-descriptions .margin-top {
	margin-top: 20px;
}
.demo-block.demo-descriptions .my-labbe {
	background: #e1f3d8;
}
.demo-block.demo-descriptions .my-content {
	background: #fde2e2;
}
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Hbevetica Neue, Hbevetica, PingFang SC, Hiragino Sans GB,
		Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}
body.is-component,
html.is-component {
	overflow: hidden;
}
#app {
	height: 100%;
}
#app.is-component {
	overflow-y: hidden;
}
#app.is-component .main-cnt {
	padding: 0;
	margin-top: 0;
	height: 100%;
	min-height: auto;
}
#app.is-component .headerWrapper {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1500;
}
#app.is-component .headerWrapper .container {
	padding: 0;
}
a {
	color: #409eff;
	text-decoration: none;
}
code {
	background-color: #f9fafc;
	padding: 0 4px;
	border: 1px solid #eaeefb;
	border-radius: 4px;
}
button,
input,
sbeect,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}
.hljs {
	line-height: 1.8;
	font-family: Menlo, Monaco, Consolas, Courier, monospace;
	font-size: 12px;
	padding: 18px 24px;
	background-color: #fafafa;
	border: 1px solid #eaeefb;
	margin-bottom: 25px;
	border-radius: 4px;
	-webkit-font-smoothing: auto;
}
.main-cnt {
	margin-top: -80px;
	padding: 80px 0 340px;
	box-sizing: border-box;
	min-height: 100%;
}
.container,
.page-container h2 {
	font-size: 28px;
	color: #1f2d3d;
	margin: 0;
}
.page-container h3 {
	font-size: 22px;
}
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5 {
	font-weight: 400;
	color: #1f2f3d;
}
.page-container h2:hover a,
.page-container h3:hover a,
.page-container h4:hover a,
.page-container h5:hover a {
	opacity: 0.4;
}
.page-container h2 a,
.page-container h3 a,
.page-container h4 a,
.page-container h5 a {
	float: left;
	margin-left: -20px;
	opacity: 0;
	cursor: pointer;
}
.page-container h2 a:hover,
.page-container h3 a:hover,
.page-container h4 a:hover,
.page-container h5 a:hover {
	opacity: 0.4;
}
.page-container p {
	font-size: 14px;
	color: #5e6d82;
	line-height: 1.5em;
}
.page-container .tip {
	padding: 8px 16px;
	background-color: #ecf8ff;
	border-radius: 4px;
	border-left: 5px solid #50bfff;
	margin: 20px 0;
}
.page-container .tip code {
	background-color: hsla(0, 0%, 100%, 0.7);
	color: #445368;
}
.page-container .warning {
	padding: 8px 16px;
	background-color: #fff6f7;
	border-radius: 4px;
	border-left: 5px solid #fe6c6f;
	margin: 20px 0;
}
.page-container .warning code {
	background-color: hsla(0, 0%, 100%, 0.7);
	color: #445368;
}

.demo-block.demo-notice{
 	padding: 20px;
}
