.demo-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
  td:first-child, th:first-child {
    padding-left: 10px;
  }
  th {
    text-align: left;
    white-space: nowrap;
    color: var(--text-color-primary);
    font-weight: 400;
    border-bottom: 1px solid var(--border-level-1-color);;
    padding: 15px;
    max-width: 250px;
  }
  td {
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--border-level-1-color);
    padding: 15px;
    max-width: 250px;
  }
}
.demo-table-title {
  margin: 55px 0 20px;
}
